.modal.fade .modal-dialog {
    transform: translateY(-30px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.modal.show .modal-dialog {
    transform: translateY(0);
    opacity: 2;
}

.modal.fade.close .modal-dialog {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

